header{
    font-family:Shrikhand ;
    text-align:center;
    box-shadow:0 0 9px rgb(0 0 0 /25%) ;
    padding: 4px;
    position: relative;

}
body{
    font-family: Roboto,sans-serif;
}
/* Loader*/
.loader {
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #f3f3f3;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.8;
    animation: disappear 1s 1s forwards;
    
}
.spiner {
    
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border-top: 16px solid #9356DC;
    border-bottom: 16px solid #99E2D0;
    -webkit-animation: spin 2s linear ;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes disappear {
    to{
        transform: scale(0);
    }
    
}
/*Localisation */
.local{
display: flex;
align-items: center;
justify-content: center;
background-color: #eaeaea;
text-align: center;
padding: 8px; 
gap: 16px;
font-size: 20px;
}
.local i{
font-size: 22px;
}
/*Explore*/
.explore{
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 20px;
    
}
.explore button{
    color: white;
    background-image:linear-gradient(to top,rgb(147,86,220,0.9 ),rgb(255,121,218,0.9) ) ;
    border: none;
    border-radius:36px;
    padding: 16px 24px;
    font-weight: bold;
    font-size: 20px;
    box-shadow:1px 1px 8px rgb(0 0 0 /50%) ;
}
.explore button:hover{
    cursor: pointer;
    opacity: 0.5;
}


/* fonctionmment */
ol {
    list-style-type: none;
    display: flex;
    gap: 45px;

}

ol li{
    
    margin: 13px;
    position: relative;
    white-space: nowrap; 
}
.liste{
    color: white;
    background-color:#9356DC ;
    border-radius: 50%;
    position: absolute;
    width:24px;
    height: 21px;
    text-align: center;
    left:-10px;
    padding-top: 2px;
}

ol li{
    
    background-color: #f6f6f6;
    border-radius: 16px;
    box-shadow:0 0 8px rgb(0 0 0 /25%) ;
    padding: 20px 35px;
}

ol li i {
    margin-right: 16px ;
}
ol:hover > li i{
    color: #9356dc;

}
ol li:hover{
    background-color:#f3ecfb ;
}  

/*Restaurant */

main{
    background-color:#f7f7f7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 4px;
}
main h2{
    width: 100%;
    margin-bottom: 32px;
    padding: 4px;
}

img {
    width: 100%;
    height: 176px ;
    background-color: white;
    object-fit: cover;
    padding: 0px;
    border-radius: 15px 15px 0 0;
    
}
main article a {
    text-decoration: none;
    color: black;
    align-content: space-between;
}
.new{
    position: relative;

}
.new::after{
content: "Nouveau";
position: absolute;
height: 32px;
width: 80px;
background-color: #99E2D0;
color:  #3a9981;
display: grid;
place-items:center;
right: 16px;
top: 16px;
}
.card{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
    width: 450px;
    height: 260px;
    margin: 5px;
    background-color: white;
    border-radius: 20px;

}
h3{
    padding-left: 8px;
}
p{
    padding-left: 8px;
    padding-bottom: 2px;
}
.container{
    padding-left: 2px;
    gap: 16px;
    position: relative;
}
.fa-heart {
float:inline-end;
padding-left: 80px;
font-size: 32px;
position: absolute;
top:72%;
right: 32px;

background: -webkit-linear-gradient(rgba(147,86,220,0 ),rgba(255,121,218,0));
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;

}
.fa-regular{

    background: -webkit-linear-gradient(rgba(0,0,0,0.9 ),rgba(0,0,0,0.9));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.fas:hover
{
    cursor: pointer;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    animation-name: heart ;
    animation-duration: 8s;
}

@keyframes heart {
0%{background: -webkit-linear-gradient(rgba(147,86,220,0 ),rgba(255,121,218,0)); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;}
25%{background: -webkit-linear-gradient(rgba(147,86,220,0.25 ),rgba(255,121,218,0.25));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
50%{background: -webkit-linear-gradient(rgba(147,86,220,0.5 ),rgba(255,121,218,0.5));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
75%{background: -webkit-linear-gradient(rgba(147,86,220,0.75 ),rgba(255,121,218,0.75));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
100%{background: -webkit-linear-gradient(rgba(147,86,220,1 ),rgba(255,121,218,1)); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;}

}
.fa-regular:hover{
    cursor: pointer;
    background: -webkit-linear-gradient(rgba(0,0,0,1 ),rgba(0,0,0,1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

 /***** Footer ******/
footer{
    background-color: rgb(50, 50, 50);
    text-align: center;
    color: white;
    padding: 0 8px;


}
footer h2 {
    font-family:Shrikhand ;
    font-size: 20px;
    gap: 16px;
    margin: 1px;
    
}
footer ul li {
    text-decoration: none;
    list-style-type: none;
    color: white;
}
footer a {
    text-decoration: none;
    color: white;
}
@media screen and  (min-width:768px) and (max-width: 1000px ) 
{

ol{
    gap: 6px;
    padding: 4px;

 }


}
@media screen and (max-width: 768px)
 {
    ol
    {
        display: flex;
        flex-direction: column;
        padding: 23px;
        gap: 25px;
    
    }
    ol li{
        margin: 0px;
    }

    .explore button{
        font-size: 15px;
        width: 245px;

    }
    .local{
        font-size: 18px;
    }
    main{
        margin: 0px;
        margin-bottom: 33px;
    }
    .card{
        width: 400px;
    }

    footer{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content:space-around;
    

    }
    footer ul li{
        text-align: start;
        margin-left: -20px;
        padding: 3px;
    }
}
